/*
*Variables
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  box-sizing: border-box; }

body {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #495057;
  background-color: #f8f8fb; }

.header {
  width: 100%;
  height: 7.5rem;
  background-color: #ffffff;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03); }
  @media (max-width: 768px) {
    .header {
      display: none; } }

.content {
  display: flex; }
  .content__vertical-menu {
    width: 25rem;
    position: fixed;
    top: 7.5rem;
    bottom: 0;
    left: 0;
    background-color: #2a3042;
    overflow-y: hidden; }
    @media (max-width: 1024px) {
      .content__vertical-menu {
        width: 10rem; } }
  .content__main {
    margin-left: 25rem;
    padding: 2rem;
    overflow: hidden; }
    @media (max-width: 1024px) {
      .content__main {
        margin-left: 10rem; } }
    @media (max-width: 768px) {
      .content__main {
        margin-left: 0; } }

.nav__mobile-view {
  display: none; }
  .nav__mobile-view #toggle {
    display: none; }
  .nav__mobile-view #search {
    display: none;
    font-size: 1.8rem;
    position: absolute;
    padding: 1rem 1.5rem;
    top: 7.5rem;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #a6b0cf;
    border-radius: 0.5rem; }
    .nav__mobile-view #search:focus {
      outline: none; }
  .nav__mobile-view label {
    display: inline-block;
    font-size: 2rem;
    margin-top: 0.5rem; }
    .nav__mobile-view label:not(:last-child) {
      margin-right: 2rem; }
  @media (max-width: 768px) {
    .nav__mobile-view {
      display: block;
      height: 7.5rem;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03); } }

.nav__mobile-menu {
  display: none;
  position: fixed;
  top: 7.5rem;
  bottom: 0;
  left: 0;
  width: 45%;
  padding: 2rem 1rem;
  background-color: #2a3042;
  z-index: 1000;
  overflow: scroll; }
  @media (max-width: 540px) {
    .nav__mobile-menu {
      width: 70%; } }

#toggle:checked + .nav__mobile-menu {
  display: inline-block; }

.nav__menu-link {
  display: block;
  font-size: 1.6rem;
  padding: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #a6b0cf; }
  .nav__menu-link i {
    display: inline-block;
    margin-right: 1rem; }
  .nav__menu-link span {
    display: inline-block; }

.nav__menu-heading {
  padding: 0 1rem;
  color: #79829C;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem; }

.nav #user-photo {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: #495057;
  overflow: hidden;
  position: relative;
  top: 0.5rem; }
  .nav #user-photo img {
    width: 100%; }

.nav .mobile-menu-icon {
  position: absolute;
  top: 1.29rem;
  right: 3rem; }

body > nav > div > label[for="toggle"] {
  position: relative;
  top: 2rem;
  left: 2rem; }

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 768px) {
    .nav-header {
      display: none; } }
  .nav-header__d-flex {
    display: flex;
    align-items: center; }
  .nav-header__brand {
    flex: 0 0 25rem;
    font-size: 2.6rem;
    padding: 2rem 1.5rem;
    text-align: center;
    color: #ffffff;
    background-color: #2a3042; }
    @media (max-width: 1024px) {
      .nav-header__brand {
        flex: 0 0 10rem; } }
  .nav-header__form {
    position: relative;
    flex: 0 0 35rem;
    padding: 2rem 1.5rem; }
    @media (max-width: 1024px) {
      .nav-header__form {
        display: none; } }
  .nav-header__search {
    border: none;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: #f3f3f9;
    border-radius: 3rem; }
    .nav-header__search:focus {
      outline: none; }
    .nav-header__search::placeholder {
      color: #74788d;
      font-size: 1.4rem; }
  .nav-header .search-icon {
    display: inline-block;
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 1.8rem;
    cursor: pointer; }
  .nav-header__dropdown {
    flex: 0 0 10rem;
    font-size: 1.4rem;
    text-align: center; }
    @media (max-width: 1024px) {
      .nav-header__dropdown {
        display: none; } }
  .nav-header__customize, .nav-header__multiple, .nav-header__notification, .nav-header__settings {
    display: inline-block;
    font-size: 1.8rem;
    margin-right: 2rem;
    cursor: pointer; }
  .nav-header__searchicon {
    display: none; }
    @media (max-width: 1024px) {
      .nav-header__searchicon {
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
        cursor: pointer; } }
  .nav-header__user {
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 2rem;
    cursor: pointer; }
  .nav-header__user-photo {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #495057;
    overflow: hidden; }
    .nav-header__user-photo img {
      width: 100%; }

.content__vertical-menu {
  padding: 2rem; }
  @media (max-width: 768px) {
    .content__vertical-menu {
      display: none; } }

.content__vertical-menu-heading {
  padding: 0 1rem;
  color: #79829C;
  font-size: 1.2rem;
  font-weight: 500; }
  @media (max-width: 1024px) {
    .content__vertical-menu-heading {
      display: none; } }

.content__vertical-menu-list {
  list-style: none; }

.content__vertical-menu-item {
  padding: 1.5rem 1rem 2rem; }
  .content__vertical-menu-item .bx {
    display: inline-block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #a6b0cf;
    margin-right: 1.5rem;
    vertical-align: middle; }
    @media (max-width: 1024px) {
      .content__vertical-menu-item .bx {
        margin-left: 1.2rem; } }

.content__vertical-menu-title {
  font-size: 1.4rem;
  cursor: pointer;
  color: #a6b0cf;
  vertical-align: middle; }
  @media (max-width: 1024px) {
    .content__vertical-menu-title {
      display: none; } }

.table-card {
  width: 100%;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  overflow: scroll; }

.table {
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border-collapse: collapse; }
  .table__body, .table__head {
    border-collapse: collapse; }
  .table__head {
    background-color: #f8f8fb; }
  .table__row {
    border-radius: 0.5rem; }
    .table__row:nth-child(even) {
      background-color: #f8f8fb; }
  .table__col-title, .table__data {
    padding: 1rem;
    border-collapse: collapse; }
  .table__col-title {
    text-align: left;
    border-top: none; }
