/*
*Variables
*/
//Colors
$color-white: #ffffff;
$color-white-dark: #f8f8fb;
$color-white-dark-2: #f2f2f5;

$color-grey: #74788d;
$color-grey-dark: #495057;

$color-darkblue: #232a40;
$color-darkerblue: #79829c;
$color-lightblue: #a6b0cf;

// Box shadow
$box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);

//Grid

$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 3rem;

//Font

$default-font-size: 1.6rem;
