.card {
  padding: 1rem;
  background-color: $color-white;
  box-shadow: $box-shadow;
  border-radius: 0.5rem;

  &__body {
    padding: 4rem;
  }

  &__title-1 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__title-2 {
    font-size: 1.6rem;
    font-weight: 400;
    &--lit {
      font-size: 1.4rem;
      color: $color-lightblue;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: block;
  }

  &__desc {
    max-width: 60%;

    &--lit {
      color: $color-lightblue;
      font-size: 1.3rem;
    }
  }

  &__img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: 0 auto;
  }

  // &__avatars {
  // }
  // &__message-box {
  // }

  &__list {
    list-style: none;
    max-width: 80%;
    border-right: 2px solid $color-lightblue;

    &--sm {
      display: flex;
      list-style: none;
    }

    &--fl-dr {
      display: flex;
      list-style: none;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    background-color: $color-white-dark;
    padding: 2rem;

    &--sm {
      padding: 1rem;
    }

    &--fl-dr {
      display: flex;
      align-items: center;
      padding: 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid #eeeeee;
      }

      // &:nth-child(even) {

      // }
    }
  }

  &__message {
    display: inline-block;
    font-size: 1.2rem;
  }

  &__avatar {
    &--xs {
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
      border: 3px solid $color-white;
      border-radius: 50%;
      background-color: #f3f3f9;
      text-align: center;
      vertical-align: middle;
      overflow: hidden;

      &:not(:last-child) {
        margin-right: -1.2rem;
      }

      i {
        display: inline-block;
        font-size: 2rem;
        color: $color-lightblue;
        margin-top: 0.5rem;
      }
    }

    &--sm {
      display: inline-block;
      width: 4.5rem;
      height: 4.5rem;
      border: 3px solid $color-white;
      border-radius: 50%;
      background-color: #f3f3f9;
      text-align: center;
      vertical-align: middle;
      overflow: hidden;

      &:not(:last-child) {
        margin-right: -1.2rem;
      }

      i {
        display: inline-block;
        font-size: 2.2rem;
        color: $color-lightblue;
        margin-top: 1rem;
      }
    }

    &--md {
      display: inline-block;
      width: 12rem;
      height: 5rem;
      border-radius: 1rem;
      overflow: hidden;
      margin-right: 2rem;
    }

    &--mdr {
      display: block;
      width: 12rem;
      height: 7rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 2rem;
    }
  }

  &__textarea {
    display: block;
    width: 80%;
    height: 8rem;
    border: 1.5px solid $color-lightblue;
    margin-bottom: 2rem;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    i {
      font-size: 2.4rem;
    }

    // &--sm {
    //   // i {
    //   //   font-size: 1.6rem;
    //   //   position: absolute;
    //   //   top: 0.5rem;
    //   //   right: 0.5rem;
    //   // }
    // }
  }

  &__bottom {
    border-top: 1.5px solid #eeeeee;
    position: relative;
  }

  &__info {
    margin-left: 1rem;
    span {
      display: block;
      font-size: 1rem;
    }
  }
}
