.content__main {
  &-table {
    width: 100%;
    background-color: $color-white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
  }

  &-tr {
    display: table-row;
  }
  
  &-th,
  &-td {
    border: 1px soild #eff2f7;
    color: $color-grey-dark;
    padding: 1rem;
    text-align: initial;
  }


}
