.table {
  width: 100%;
  background-color: $color-white;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;

  &__heading,
  &__data {
    padding: 1rem;
    border: 1px solid $color-lightblue;
    border-collapse: collapse;
    }
}