.footer {
  padding: 2rem;
  background-color: $color-white-dark-2;
  text-align: center;

  &__content {
    max-width: 100%;
    margin: 0 auto;
  }

  &__logo {
    width: 5.5rem;
    height: 5.5rem;
    margin: 2rem auto;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    color: $color-darkblue;
  }

  &__desc {
    max-width: 65rem;
    margin: 2rem auto;
  }

  &__copyright {
    font-size: 1.4rem;
    max-width: 65rem;
    margin: 2rem auto;
  }
}
